<section class="brands">
  <h2 class="section-header">Brands we trust</h2>
  <div class="brand-logos-container">
    <img src="/assets/images/nijikawa_logo.png" alt="Nijikawa Logo">
    <img src="/assets/images/Tsurumi-logo.png" alt="Tsurumi Logo">
    <img
      style="height:80px"
      src="/assets/images/shinmaywa-logo.png"
      alt="Shinmaywa Logo">
    <img
      style="margin: 1em 0; height: 60px"
      src="/assets/images/performance-pro-logo.png"
      alt="Performance Pro Logo">
    <img
      style="margin: .5em 0; height: 50px;"
      src="/assets/images/matala-logo.png"
      alt="Matala Logo">
  </div>
</section>