{% assign gallery_data = site.data[include.data] %}

{% if gallery_data %}
  <section style="margin: 2em 0">
    <h2 class="section-header">
      Gallery
    </h2>
    <div style="width: 100%; display: flex; justify-content:right;">
      <p class="mobile-gallery-tip">Tap to view</p>
    </div>
    <div class="gallery">
      {% for item in gallery_data %}
        <a href="{{ item.image | relative_url }}">
          <img
            src="{{ item.image | relative_url }}"
            alt="{{ item.alt | escape }}"
            loading="lazy">
        </a>
      {% endfor %}
    </div>
  </section>
{% else %}
  <p>Gallery data not found.</p>
{% endif %}