{% assign all_ratings = site.data.google-reviews | map: "rating" %}
{% assign total_reviews = all_ratings | size %}
{% assign sum_ratings = 0 %}
{% for rating in all_ratings %}
  {% assign sum_ratings = sum_ratings | plus: rating %}
{% endfor %}
{% assign average_rating = sum_ratings | divided_by: total_reviews | round: 1 %}

<div class="google-reviews-short" id="google-reviews-short">
  <div class="review-header">
    <div class="review-content">
      <div class="icons">
        <img
          class="google-icon"
          src={{ "/assets/images/logos/google-icon-logo.webp" | relative_url }}
          alt="Google icon">
        <p>Google Rating</p>
      </div>
      <div>
        <span class="average-rating">
          {{ average_rating }}.0
          <span class="review-stars">
            {% for i in (1..5) %}
              <img
                class="star-icon"
                src="{{ '/assets/images/star-icon.svg' | relative_url }}"
                alt="star icon" />
            {% endfor %}
          </span>

        </span>
        <a href="/reviews/" class="see-more-reviews">Read our {{ total_reviews }} reviews</a>
      </div>
    </div>
  </div>
</div>