<header>
  <section class="head-contacts">
    <div class="head-contacts-left">
      <div class="head-contact">
        email:
        <a href="mailto:{{ site.business.email }}">{{ site.business.email }}</a>
      </div>
      <div class="head-contact">
        phone:
        <a href="tel:{{ site.business.phone  }}">{{ site.business.phone }}</a>
      </div>
    </div>
    <div class="head-contacts-right">
      <a href="{{ site.facebookurl }}">
        <img src={{ "/assets/images/logos/Facebook_Logo_Primary.png" | relative_url }} alt="facbook logo">
        Facebook
      </a>
      <a href="{{ site.buildzoomurl }}">
        <img src={{ "/assets/images/logos/buildzoom-logo.png" | relative_url }} alt="buildzoom logo">
        BuildZoom
      </a>
    </div>
  </section>
  <div class="header-base">
    <div class="header-left">
      <a class="logo" href="{{ '/' | relative_url }}">
        {% comment %} <img src="{{ 'assets/images/logoimg.svg' | relative_url }}" alt=""> {% endcomment %}
        <p>
          <span style="white-space: nowrap ;">HALF MOON
          </span>
          <span style=" white-space: nowrap; ">HOLLOW BUILDERS</span>
        </p>
      </a>
      <div class="desktop-nav">
        {% include navigation.html %}
      </div>
    </div>
    <div class="header-right">
      <a href="tel:{{ site.business.phone }}">
        <img src="{{ '/assets/images/phone-black.svg' | relative_url }}" alt="phone icon">
      </a>
      <button class="hamburger" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>
  </div>
  <div class="nav-wrapper">
    {% include navigation.html %}
  </div>
</header>