<header>
  <section class="head-contacts">
    <div class="head-contact">
      email:
      <a href="mailto:{{ site.business.email }}">{{ site.business.email }}</a>
    </div>
    <div class="head-contact">
      phone:
      <a href="tel:{{ site.business.phone  }}">{{ site.business.phone }}</a>
    </div>
  </section>
  <div class="header-base">
    <div class="header-left">
      <a class="logo" href="{{ '/' | relative_url }}">
        <img src="{{ 'assets/images/logoimg.svg' | relative_url }}" alt="">
        <p>
          <span style="white-space: nowrap ;">HALF MOON
          </span>
          <span style=" white-space: nowrap; ">HOLLOW BUILDERS</span>
        </p>
      </a>
      <div class="desktop-nav">
        {% include navigation.html %}
      </div>
    </div>
    <div class="header-right">
      <a href="tel:{{ site.business.phone }}">
        <img src="{{ '/assets/images/phone-black.svg' | relative_url }}" alt="phone icon">
      </a>
      <button class="hamburger" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>
  </div>
  <div class="nav-wrapper">
    {% include navigation.html %}
  </div>
</header>