<!-- Our Process Section -->
<section class="process">
  <div class="section-text">
    <h2>{{ site.data.services-process[page.slug].title }}</h2>
  </div>
  <div class="steps">
    {% assign steps = site.data.services-process[page.slug].steps %}
    {% for step in steps %}
      <div class="step">
        <span class="border-h"></span>
        {% unless forloop.last %}
          <span class="border-v"></span>
        {% endunless %}
        <div class="step-number">{{ forloop.index }}<span class="invisible">.</span>
        </div>
        <h2 class="step-heading">{{ step.heading }}</h2>
        <p class="step-content">{{ step.text }}</p>
      </div>
    {% endfor %}
  </div>
  <img
    src="{{ site.data.services-process[page.slug].image | relative_url }}"
    class="section-image"
    alt="{{ site.data.services-process[page.slug].title }}">
</section>