<!-- Our Process Section -->
<section class="process">
  <div class="section-text">
    <h2>Our Process</h2>
  </div>
  <div class="steps">
    <div class="step">
      <span class="border-h"></span>
      <span class="border-v"></span>
      <div class="step-number">1
        <span class="invisible">.</span>
      </div>
      <h2 class="step-heading">Step one</h2>
      <p class="step-text">Determine what you need for your project and give us a call or text to get a quote or check availability.</p>
    </div>
    <div class="step">
      <span class="border-h"></span>
      <span class="border-v"></span>
      <div class="step-number">2<span class="invisible">.</span>
      </div>
      <h2 class="step-heading">Step two</h2>
      <p class="step-content">Pick up your equipment or have it delivered! Start your project without fears of your equipment failing you.</p>
    </div>
    <div class="step">
      <span class="border-h"></span>
      <div class="step-number">3<span class="invisible">.</span>
      </div>
      <h2 class="step-heading">Step three</h2>
      <p class="step-content">After you've finished your work, return your rental hassle-free and that's it! No worrying about maintenance or storage, just a project completed and savings on your bottom line.</p>
    </div>
  </div>
  <img
    src="{{ '/assets/images/13.jpg' | relative_url }}"
    class="section-image"
    alt="Our Excavators">
</section>