<section class="service-regions">

  <h2 class="section-header">Serving Homeowners and Businesses Across Western North Carolina</h2>
  <p>Based in South Asheville, we proudly serve customers throughout Buncombe and Henderson counties — including:</p>
  <ul>
    <li>Fairview</li>
    <li>Fletcher</li>
    <li>Arden</li>
    <li>Hendersonville</li>
    <li>Black Mountain</li>
    <li>Candler</li>
    <li>Biltmore Forest</li>
    <li>Mills River</li>
    <li>Swannanoa</li>
    <li>Weaverville</li>
  </ul>
  <p style="text-align: center; margin-top:-.5em; margin-bottom: 1em; font-size:.9em;">and beyond</p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d215641.42785713676!2d-82.57898807497637!3d35.51808291540985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8859ee47dddb184f%3A0xd0cbf486b6d339a1!2sWestern%20Carolina%20Waterscapes!5e1!3m2!1sen!2sus!4v1745266143683!5m2!1sen!2sus"
    width="100%"
    height="450"
    class="map"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

  <p>
    Not sure if you’re in our service area?
    <a href="/contact">Contact us</a>
    — we’d love to hear about your project!
  </p>

</section>