<section class="services-sections">
  <h2 class="section-header">Our Specialties</h2>
  <div class="services-container">
    {% for service in site.data.services %}

      <a href="{{ '/services/' | append: service.slug | append: '/' | relative_url }}" class="services-section">
        <img
          src="{{ service.image | relative_url }}"
          style="width: 100%;"
          alt="">
        <div class="services-section-text">
          <h3>{{ service.title }}</h3>
          {% if service.short-description %}
            <span class="divider"></span>
            <p>
              {{ service.short-description }}
              <br>
            </p>
          {% endif %}
          <p style="text-decoration: underline;">Learn more...</p>
        </div>
      </a>

    {% endfor %}
  </div>
</section>