// _sass/_fonts.scss

@font-face {
    font-family: 'Americana Std Roman';
    src: url('/assets/fonts/AmericanaStdRoman/Americana Std Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Vacer Sans';
    src: url('/assets/fonts/vacer_sans/VacerSansRegularPersonal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  // Optional: Load other Vacer weights
  @font-face {
    font-family: 'Vacer Sans';
    src: url('/assets/fonts/vacer_sans/VacerSansBoldPersonal.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Vacer Sans';
    src: url('/assets/fonts/vacer_sans/VacerSansLightPersonal.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }
  


.playfair-display-400 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Berkeley Std';
    src: url('/assets/fonts/berkeley/BerkeleyStd-Book.woff2') format('woff2'),
         url('/assets/fonts/berkeley/BerkeleyStd-Book.woff') format('woff'),
         url('/assets/fonts/berkeley/BerkeleyStd-Book.ttf') format('truetype'),
         url('/assets/fonts/berkeley/BerkeleyStd-Book.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Berkeley Std';
    src: url('/assets/fonts/berkeley/BerkeleyStd-BookItalic.woff2') format('woff2'),
         url('/assets/fonts/berkeley/BerkeleyStd-BookItalic.woff') format('woff'),
         url('/assets/fonts/berkeley/BerkeleyStd-BookItalic.ttf') format('truetype'),
         url('/assets/fonts/berkeley/BerkeleyStd-BookItalic.eot') format('embedded-opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Berkeley Std';
    src: url('/assets/fonts/berkeley/BerkeleyStd-Medium.woff2') format('woff2'),
         url('/assets/fonts/berkeley/BerkeleyStd-Medium.woff') format('woff'),
         url('/assets/fonts/berkeley/BerkeleyStd-Medium.ttf') format('truetype'),
         url('/assets/fonts/berkeley/BerkeleyStd-Medium.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Berkeley Std';
    src: url('/assets/fonts/berkeley/BerkeleyStd-Italic.woff2') format('woff2'),
         url('/assets/fonts/berkeley/BerkeleyStd-Italic.woff') format('woff'),
         url('/assets/fonts/berkeley/BerkeleyStd-Italic.ttf') format('truetype'),
         url('/assets/fonts/berkeley/BerkeleyStd-Italic.eot') format('embedded-opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Berkeley Std';
    src: url('/assets/fonts/berkeley/BerkeleyStd-Bold.woff2') format('woff2'),
         url('/assets/fonts/berkeley/BerkeleyStd-Bold.woff') format('woff'),
         url('/assets/fonts/berkeley/BerkeleyStd-Bold.ttf') format('truetype'),
         url('/assets/fonts/berkeley/BerkeleyStd-Bold.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Berkeley Std';
    src: url('/assets/fonts/berkeley/BerkeleyStd-BoldItalic.woff2') format('woff2'),
         url('/assets/fonts/berkeley/BerkeleyStd-BoldItalic.woff') format('woff'),
         url('/assets/fonts/berkeley/BerkeleyStd-BoldItalic.ttf') format('truetype'),
         url('/assets/fonts/berkeley/BerkeleyStd-BoldItalic.eot') format('embedded-opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Berkeley Std';
    src: url('/assets/fonts/berkeley/BerkeleyStd-Black.woff2') format('woff2'),
         url('/assets/fonts/berkeley/BerkeleyStd-Black.woff') format('woff'),
         url('/assets/fonts/berkeley/BerkeleyStd-Black.ttf') format('truetype'),
         url('/assets/fonts/berkeley/BerkeleyStd-Black.eot') format('embedded-opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Berkeley Std';
    src: url('/assets/fonts/berkeley/BerkeleyStd-BlackItalic.woff2') format('woff2'),
         url('/assets/fonts/berkeley/BerkeleyStd-BlackItalic.woff') format('woff'),
         url('/assets/fonts/berkeley/BerkeleyStd-BlackItalic.ttf') format('truetype'),
         url('/assets/fonts/berkeley/BerkeleyStd-BlackItalic.eot') format('embedded-opentype');
    font-weight: 900;
    font-style: italic;
  }
  