.service {
display: flex;
flex-direction: column;
line-height: 1.5em;
padding: 1em 0;
border-radius: $radius;
}

.service h2 {
    font-family: $font-accent;
    line-height: 2em;
}

.services img {
    width: 100%;
    object-fit: cover;
}

.service p {
    padding: 1em;
    padding-top: 0;
}

.service ul, .offerings-list {
    padding-left: 1.8em;
    margin: 0;
    padding-right: 1em;
  }
  
.service li, .offerings-list li {
    text-decoration: underline;
    line-height: 1.8;
    padding-bottom: .5em;
  }
  

.service-card {
    background-color: $card-color;
    border: $border;
    border-radius: $radius;
    box-shadow: $box-shadow-half;
    gap: .7em;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2em;
}

.service-detail img {
    max-height: 450px;
    object-fit: cover;
    border: 2px solid $foreground-color;
}

.service-detail > p {
    line-height: 2.2rem;
    text-align: center;
    padding: 2rem .5rem;
    max-width: 80ch;
    margin: 0 auto;
}

.service-detail > h3 {
    line-height: 2.2rem;
    text-align: center;
    margin: 1rem auto;
}

.offerings-list li {
list-style: none;
text-align: center;
text-decoration: none;
padding-bottom: 1.5rem;
color: $primary-color;
}


@media (min-width: 768px) {
    
    .service-card {
        display: grid;
        grid-template-columns: 1fr auto;
        padding-bottom: 0;
        border: none;
        gap: 0;
    }

    .services img {
        border: $border;
        border-radius: $radius 0 0 $radius;
        height: calc(100% - 4px);
        min-width: 400px;
    }

    .service-card-content {
        max-width: 60ch;
        align-content: center;
        padding: 1rem;
        
    }

    .service-card-content p, .service-card-content ul {
        line-height: 2em;
    }
}